html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

/*Styles*/
:root{
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #f0eff7;
	color: #5c5879;
	width: 100vw;
	height: 100vh;
}

.navbar {
	background-color: #fff;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 6;
}
	.navbar i {
		color: #5c5879;
		font-size: 1.5rem;
		z-index: 3;
		position: relative;
	}
	.navbar ul {
		display: flex;
		flex-direction: column;

	}
	.navbar-link {
		color: #5c5879;
		position: relative;
		text-transform: uppercase;
		font-size: 1rem;
		display: flex;
		align-items: center;	
		justify-content: center;
		width: 70px;
		height: 70px;
		z-index: 5;
	}
	.navbar-link span {
		background-color: #fff;
		height: 70px;
		width: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
	}
	.navbar-link:hover {
		background-color: #575676;
	}
		.navbar-link:hover i {
			color: #fdfdff;
		}

.dashboard {
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-template-rows: 70px 70px 160px auto auto;
	height: 100%;
}
.dashboard-header {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	background-color: #49475c;
}
	.dashboard-header ul {
		display: flex;
		height: 100%;
		padding: 0 15px;
		align-items: center;
		justify-content: space-between;
	}
	.dashboard-header a,
	.dashboard-header li {
		color: #fff;
	}

.dashboard-content {
	grid-column-start: 2;
	grid-column-end: 3;
}
.dashboard-footer {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
}
.content-filter {
	background-color: #5a5979;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	margin: 15px 0;
	padding: 0 15px;
	font-size: 0.875rem;
	height: 40px;
}
.content-list,
.content-graph {
	background-color: #f9fafc;
}	
.content-graph,
.content-list,
.content-filter {
	box-shadow: 0 3px 2px -1px rgba(0,0,0,0.1);
}

	.list-group-item {
		padding: 0 1em;
		font-size: 0.875rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.list-group-item:nth-child(even) {
		background-color: #f1f1f9;
	}
	.list-group-item.list-heading {
		background-color: #f9f8fd;
	}
	.list-group-item.list-footer {
		background-color: #f8f7fd;
	}
	.list-item {
		display: flex;
		padding: 1em 0;
		justify-content: flex-start;
		flex-grow: 1;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.list-body .list-item:nth-last-child(-n+2) {
		flex-grow: 0;
		width: 30px;
	}
	.list-item:first-child { width: 30%; }
	.list-item:nth-child(2) { width: 15%; }
	.list-item:nth-child(3) { width: 15%; }
	.list-item:nth-child(4) { width: 15%; }
	
	.list-heading .list-item:last-child,
	.list-footer .list-item:last-child {
		width: 25%;
	}

.content-stats {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
	.stats-group {
		padding: 1em;
	}
	.stats-group p {
		display: flex;
		flex-direction: column;
		font-size: 0.75rem;
	}
	.stats-group span {
		margin-top: 0.25em;
		font-size: 2rem;
		font-weight: bold;
	}
.content-form {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	margin: 15px 0;
	font-size: 0.875rem;
	height: 40px;
	align-items: center;
	justify-content: center;
}

.form-group {
	display: flex;
	flex-direction: column;
}
	.form-group input:not([type="radio"]),
	.form-group select {
		height: 28px;
	}

	.btn-submit {
		background-color: #fff;
		font-weight: bold;
		border: 1px solid;
	}


.btn {
	background: none;
	border: none;
}

@media screen and (min-width: 480px) {
	.content-stats {
		flex-direction: row;
	}
}

@media screen and (max-width: 767px) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-template-areas: "header"
							 "main"
							 "footer";
		grid-template-rows: 70px auto auto;
	}
	.dashboard-header {
		grid-area: header;
	}
	.dashboard-content {
		grid-area: main;
	}
	.dashboard-footer {
		grid-area: footer;
	}
	.dashboard-content {
		padding: 0 15px;
		grid-template-columns: 100%;
		grid-template-rows: auto;
	}

	.navbar {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}	
		.navbar ul {
			width: 80%;
			margin: auto;
			flex-direction: row;
			justify-content: space-between;
		}
		.navbar-link {
			display: flex;
			align-items: center;	
			justify-content: center;
		}
		.navbar-link span {
			display: none;
		}
	.stats-group {
		margin: auto;
	}
}

@media screen and (min-width: 768px) {

	.navbar li {
		border-bottom: 1px solid #e1dfea;
	}	
	.navbar-link span {
		position: absolute;
		left: 70px;
		top: 0;
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
		transition: all 0.3s ease-out;
		z-index: 2;
	}
	.navbar-link:hover span{
		transform: translate3d(0,0,0);
		opacity: 1;
	}
	.dashboard {
		grid-column-gap: 15px;
	}
	.dashboard-content {
		padding: 0 15px;
	}
	.dashboard-header {
		grid-column-start: 1;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.content-stats {
		padding: 0 15px;
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 991px) {
	.content-stats {
		margin: 15px auto;
	}
}

@media screen and (min-width: 992px) {
	.dashboard-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 70px 160px auto;
		grid-column-gap: 15px;
	}
		.content-filter {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
		}
		.content-stats {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}
		.content-graph {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 3;
		}
		.content-list {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 3;
		}
}

